/* Global styles */
html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* Table styles */
.full-width-table {
  width: 100%;
  border-collapse: collapse;
}

.filter-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.filter-container > mat-form-field {
  margin-right: 20px;
  margin-bottom: 10px;
}
